@{
    ViewData["Title"] = "Trang chủ";
}

<div class="card-container">
    <div class="card">
        <h2>@ViewBag.TongPhong</h2>
        <p>Tổng số phòng</p>
    </div>
    <div class="card">
        <h2>@ViewBag.PhongDaThue</h2>
        <p>Phòng đã thuê</p>
    </div>
    <div class="card">
        <h2>@ViewBag.TongNguoiThue</h2>
        <p>Tổng người thuê</p>
    </div>
    <div class="card">
        <h2>@ViewBag.TongDoanhThu</h2>
        <p>Doanh thu</p>
    </div>
</div>